
h1 {
    font-size: 24px;
    font-family: Gugi, Serif;
    line-height: 28px;
    padding:27px 0;
    font-weight: normal;
    position:relative;
    text-align:center;
}
h1 span{
    display:inline-block;
    font-size:13px;
    font-family:'Work Sans';
    vertical-align:top;
}
h1::after{
    content:"";
}
h1::before{
    content:"";
    display:block;
    position:absolute;
    left:50%;
    top:100%;
    margin:-38px 0 0 -16px;
    width:24px;
    height:24px;
    border:4px solid $bgrd;
    border-top-color:transparent;
    border-radius:50%;
    z-index:1;
    background:center / contain no-repeat url(/assets/images/arsho-sept-symbol.svg);
}


h2, h3, h4 {
    font-weight: 400;
    padding:0;
    line-height: 1.6;
    color:#000;
}

h2 {
    font-size: 24px;
    text-align:center;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size:18px;
}
p, ul, ol, table, pre, dl {
    padding:0 0 27px;
}

ul, ol{
    padding:0 0 0 12px;
}
ul{
    list-style-type:none;
}

strong{
    font-weight:600;
}
a {
    color:$link;
}
h1 a, h2 a{
    text-decoration:none;
} 
h1::after{
    display:block;
    height:4px;
    overflow:visible;
    position:relative;
    background:$fill;
    border-radius:0 0 50% 50% / 0 0 4px 4px;
}


img.fl {
    float: left;
    margin: 1px 0.75em 0 0;
}
hr{
    display:block;
    width:100%;
    position:relative;
    box-sizing:content-box;
    margin:0 -5px;
    padding:0 5px;
    border:6px solid $scnd;
    border-width:6px 0 0;
    height:33px;
    background:$w;
}


@media screen and (min-width: $narrow){
    hr{
        box-sizing:border-box;
        padding:0;
        margin:0;
        border-width:6px 1px 0;
    }
}
@media screen and (min-width: $full){
}
