$bgrd: #ffffff;
$wash: #ececec;
$wash: rgba(0,167,255,0.1);
$wwsh: rgba(255,255,255,0.95);
$fill: #d80202;
$scnd: #37474F;
$link: #005582;
$text: #272727;
$nvrt: #ffffff;
$blue: #00a7ff;

/*white hexes*/
$w: rgba(255,255,255,1);
$t: rgba(255,255,255,0);
$b: rgba(0,167,255,0.1);


$narrow: 860px;
$full: 1000px;

$border-lighter:1px solid #ffffff;
$border-darker:1px solid #fafafc;
