.sharers{
  text-align:center;
  display:block;
  background:$bgrd;
  border:5px solid $scnd;
  border-color:$t $scnd;
  padding-top:1px;  
  
  >h3{
    text-align:left;
    padding:5px 24px;
  }
  
  >div{
    display:inline-block;
    width:130px;
  }
}
